@media (max-width: 1536px)
{
  .ut-ms-place-holder-block {
    display: none;
  }
}

.ut-ms-place-holder-block {
  background-color: transparent;
}

.ut-ms-vh-center-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ut-ms-bg-color-red {
  background-color: #fee5e5;
}

.ut-ms-bg-color-green {
  background-color: #ddfce7;
}

.ut-ms-bg-color-blue {
  background-color: #deecfe;
}

.ut-ms-bg-color-yellow {
  background-color: #fefacd;
}

.ut-ms-bg-color-purple {
  background-color: #f3e9ff;
}


.ut-ms-a-none {
  text-decoration: none;
  align-items: flex-end;
  display: flex;
}

.ut-ms-toper {
  border-radius: 0px;
  /* border-bottom: 2px solid #93c5fd; */
}

.ut-ms-toper img {
  width: 64px;
}

.ut-ms-toper-menus {
  min-width: min(500px, 100%);
  background-color: transparent;
}

.ut-ms-footer img {
  width: 32px;
}

.ut-ms-home-intro {
  justify-content: center;
}

.ut-ms-home-news {
  justify-content: center;
}

.ut-ms-min-40-height {
  min-height: 40vh;
}

.ut-ms-min-45-height {
  min-height: 45vh;
}

.ut-ms-min-50-height {
  min-height: 50vh;
}

.ut-ms-min-60-height {
  min-height: 60vh;
}

.ut-ms-min-70-height {
  min-height: 70vh;
}

.ut-ms-min-75-height {
  min-height: 75vh;
}

.ut-ms-min-80-height {
  min-height: 80vh;
}

.ut-ms-min-85-height {
  min-height: 85vh;
}

.ut-ms-min-90-height {
  min-height: 80vh;
}

.ut-ms-dashboard-card-item {
  border-radius: 20px;
  text-decoration: none;
  min-height: 20em;
  min-width: max(30vw, 45%) !important;
  padding: 1.25em;
  line-height: 1.75em;
}

.ut-ms-card-item {
  border-radius: 20px;
  text-decoration: none;
  min-width: max(15vw, 20%) !important;
  padding: 1.25em;
  min-height: 12em;
  line-height: 1.25em;
}
